@use "./mixins" as *;
@use "./variables" as variables;

#home {
  @include flex-full-width;

  article {
    text-align: left;
    letter-spacing: 2px;
    font-size: 1.4rem;
    animation: slide 2.5s;
  }

  .description {
    button {
      margin-top: 1rem;
      @include button-secondary;
    }
    button:hover {
      @include hover-secondary;
    }
    animation: slide-2 2.5s;
  }

  .first-name {
    font-size: calc($headings * 1.6);
    display: block;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-2 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
  }
}
