@use "./mixins" as *;
@use "./variables" as variables;

#home {
  @include flex-full-width;

  article {
    text-align: left;
    letter-spacing: 2px;
    font-size: 1.4rem;
  }

  .description {
    button {
      margin-top: 1rem;
      @include button-secondary;
    }
    button:hover {
      @include hover-secondary;
    }
  }

  .first-name {
    font-size: calc($headings * 1.6);
    display: block;
  }
}
